[submodule "trunk/curriculum/recursion/intro/lib/MVLE"]
	path = trunk/curriculum/recursion/intro/lib/MVLE
	url = https://github.com/IDE4edu/MVLE.git
[submodule "trunk/curriculum/recursion/reverse-helpers/lib/MVLE"]
	path = trunk/curriculum/recursion/reverse-helpers/lib/MVLE
	url = https://github.com/IDE4edu/MVLE.git
